In [3]:
import sqlite3

conn = sqlite3.connect('store_management_project.db')
cursor = conn.cursor()

# Create Store table
cursor.execute('''
    CREATE TABLE Store (
        store_id INTEGER PRIMARY KEY,
        name TEXT,
        location TEXT,
        contact_number TEXT,
        opening_hours TEXT,
        closing_hours TEXT
    )
''')

# Create Employee table
cursor.execute('''
    CREATE TABLE Employee (
        employee_id INTEGER PRIMARY KEY,
        first_name TEXT,
        last_name TEXT,
        date_of_birth TEXT,
        position TEXT,
        contact_number TEXT,
        email TEXT,
        address TEXT,
        hire_date TEXT,
        salary REAL,
        store_id INTEGER,
        FOREIGN KEY (store_id) REFERENCES Store (store_id)
    )
''')

# Create Product table
cursor.execute('''
    CREATE TABLE Product (
        product_id INTEGER PRIMARY KEY,
        name TEXT,
        description TEXT,
        price REAL,
        quantity_in_stock INTEGER,
        reorder_threshold INTEGER,
        manufacturing_date TEXT,
        expiration_date TEXT,
        category_id INTEGER,
        FOREIGN KEY (category_id) REFERENCES Category (category_id)
    )
''')

# Create Category table
cursor.execute('''
    CREATE TABLE Category (
        category_id INTEGER PRIMARY KEY,
        name TEXT,
        description TEXT
    )
''')

# Create Customer table
cursor.execute('''
    CREATE TABLE Customer (
        customer_id INTEGER PRIMARY KEY,
        first_name TEXT,
        last_name TEXT,
        date_of_birth TEXT,
        contact_number TEXT,
        email TEXT,
        address TEXT
    )
''')

# Create SalesTransaction table
cursor.execute('''
    CREATE TABLE SalesTransaction (
        transaction_id INTEGER PRIMARY KEY,
        transaction_date TEXT,
        payment_method TEXT,
        total_amount REAL,
        customer_id INTEGER,
        FOREIGN KEY (customer_id) REFERENCES Customer (customer_id)
    )
''')

# Create TransactionItem table
cursor.execute('''
    CREATE TABLE TransactionItem (
        transaction_item_id INTEGER PRIMARY KEY,
        quantity INTEGER,
        subtotal REAL,
        transaction_id INTEGER,
        product_id INTEGER,
        FOREIGN KEY (transaction_id) REFERENCES SalesTransaction (transaction_id),
        FOREIGN KEY (product_id) REFERENCES Product (product_id)
    )
''')


# Create Supplier table
cursor.execute('''
    CREATE TABLE Supplier (
        supplier_id INTEGER PRIMARY KEY,
        name TEXT,
        contact_number TEXT,
        email TEXT,
        address TEXT
    )
''')

# Create Supply table
cursor.execute('''
    CREATE TABLE Supply (
        supply_id INTEGER PRIMARY KEY,
        supply_date TEXT,
        quantity_supplied INTEGER,
        unit_price REAL,
        supplier_id INTEGER,
        product_id INTEGER,
        FOREIGN KEY (supplier_id) REFERENCES Supplier (supplier_id),
        FOREIGN KEY (product_id) REFERENCES Product (product_id)
    )
''')

conn.commit()
conn.close()

In [1]:
import sqlite3
from faker import Faker

# Connect to the SQLite database (or create if it doesn't exist)
conn = sqlite3.connect('store_management_project.db')
cursor = conn.cursor()

# Create Store table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Store (
        store_id INTEGER PRIMARY KEY,
        name TEXT,
        location TEXT,
        contact_number TEXT,
        opening_hours TEXT,
        closing_hours TEXT
    )
''')

# Generate and insert fake data using the faker library
fake = Faker()
num_records = 10  # You can adjust the number of records you want to insert

for _ in range(num_records):
    store_name = fake.company()
    location = fake.address()
    contact_number = fake.phone_number()
    opening_hours = "09:00 AM"
    closing_hours = "06:00 PM"

    cursor.execute('''
        INSERT INTO Store (name, location, contact_number, opening_hours, closing_hours)
        VALUES (?, ?, ?, ?, ?)
    ''', (store_name, location, contact_number, opening_hours, closing_hours))

# Commit changes and close connection
conn.commit()
conn.close()

In [2]:
import sqlite3

conn = sqlite3.connect('store_management_project.db')
cursor = conn.cursor()

# Retrieve data from the Store table
cursor.execute('SELECT * FROM Store')
store_data = cursor.fetchall()

# Print the retrieved data
print("Store Data:")
for row in store_data:
    print(row)

# Close the connection
conn.close()

Store Data:
(1, 'Lewis, Wright and Miles', '556 Mcpherson Bypass Apt. 580\nKramerhaven, MD 42951', '483.895.0741', '09:00 AM', '06:00 PM')
(2, 'Davis, Brooks and Hodges', '962 Melissa Drive Suite 555\nLake Robinberg, MN 29615', '+1-513-558-8673x535', '09:00 AM', '06:00 PM')
(3, 'Costa, Nguyen and Wilson', '75516 Gibson Rapid\nJoseside, UT 08619', '658.483.0119x2769', '09:00 AM', '06:00 PM')
(4, 'Zimmerman and Sons', 'Unit 7016 Box 3492\nDPO AP 34423', '(217)504-8335x32792', '09:00 AM', '06:00 PM')
(5, 'Foster-Saunders', '587 Adams Mission\nNew Marthaborough, VI 60568', '375-768-8970', '09:00 AM', '06:00 PM')
(6, 'Evans Group', '2091 Dawson Cliffs\nWest Sean, GU 09400', '+1-610-453-3004x01932', '09:00 AM', '06:00 PM')
(7, 'Johnston Group', '5954 Antonio Dale Apt. 857\nHuntton, ME 63057', '(857)944-7512', '09:00 AM', '06:00 PM')
(8, 'Villarreal, Greene and Duncan', '00020 Michael Way Suite 781\nNorth Edwardland, WI 95648', '+1-980-896-3917x026', '09:00 AM', '06:00 PM')
(9, 'Drake, Bennett and Moses', '297 Katherine Oval\nHughesstad, SD 74518', '+1-393-813-3134x1743', '09:00 AM', '06:00 PM')
(10, 'Mendez, Jackson and Kirk', '1921 Morris Well\nRichardsonstad, SD 34454', '698-911-2975x768', '09:00 AM', '06:00 PM')
(11, 'Miller LLC', '89168 Martinez Ridge\nSarahfort, MO 92780', '5335867460', '09:00 AM', '06:00 PM')
(12, 'Ruiz, Maxwell and Lucas', '7764 Cox Points\nWest Johnbury, DC 47905', '3546297073', '09:00 AM', '06:00 PM')
(13, 'Nelson, Joseph and Clayton', '914 Elizabeth Orchard\nRobertbury, CO 74075', '5995964504', '09:00 AM', '06:00 PM')
(14, 'Kirby-Fernandez', '6599 Robinson Road Apt. 253\nLake Robertbury, CO 32623', '518-822-9527x38844', '09:00 AM', '06:00 PM')
(15, 'Cole Inc', '2731 Robert Light\nMonroeberg, OK 79890', '+1-375-925-4306x433', '09:00 AM', '06:00 PM')
(16, 'Schmidt Ltd', '5886 Rebecca Gateway\nPetersmouth, CT 48437', '001-848-281-5006x7035', '09:00 AM', '06:00 PM')
(17, 'Howell-Gregory', '547 Jared Neck\nLake Kaylee, IN 37166', '398.654.7569', '09:00 AM', '06:00 PM')
(18, 'Anderson-Cruz', '41957 Herring Valley Apt. 003\nFrederickberg, SD 89606', '399.288.6389x4155', '09:00 AM', '06:00 PM')
(19, 'Knox-Smith', '39934 Catherine Flats Suite 356\nSouth Sophia, VA 54482', '918.654.7766', '09:00 AM', '06:00 PM')
(20, 'Smith, Tate and Mcintyre', '690 Goodwin Unions Suite 662\nNew Lorettaview, OH 80453', '732.330.8222', '09:00 AM', '06:00 PM')